<% just_finished = local_assigns.fetch(:just_finished, false) %>

<% cache [game, just_finished] do %>
  <% board = game.to_game_object unless local_assigns.key?(:board) %>
  <%= turbo_frame_tag game, data: {version: board.moves_count} do %>
    <%= game_status_full_message(game) %>

    <% if just_finished && game.communal? %>
      <div class= "my-1" data-controller="refresh-game" data-refresh-game-seconds-value="10">
        Reloading to new game in <span class="text-xl font-bold" data-refresh-game-target="countdown">10</span>.
        <button class="rounded-full cursor-pointer p-2 bg-blue-200 hover:bg-blue-300" data-action="click->refresh-game#refreshPage">Refresh Now</button>
        <button class="cursor-pointer p-2" data-action="click->refresh-game#stopCountdown">Cancel</button>
      </div>
    <% end %>

    <div class= "p-2 mt-4 font-medium" >
      Mines left: <%= board.mines_left %>
    </div>

    <table class="board mx-auto mb-4">
      <% board.height.times do |y| %>
        <tr>
          <% board.width.times do |x| %>
            <% cell = board.cell(Minesweeper::Coordinate.new(x, y)) %>
            <% if cell && !(cell.is_a?(Minesweeper::Game::Marker)) %>
              <td><%= cell_to_character(cell) %></td>
            <% else %>
              <td class="cell-hidden">
                <% if game.play? %>
                  <%= link_to(cell.to_s, reveal_path(game, x, y), data: {controller: "cell", turbo_method: :post}) %>
                <% else %>
                  <%= cell.to_s %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<% if game.finished? && rodauth.logged_in? %>
  <%= link_to "Replay This Game", replay_game_path(game), class: "btn bg-gray-300 hover:bg-gray-400", data: {turbo_method: :post, turbo_frame: "_top"} %>
<% end %>
