<% cache game do %>
  <%= turbo_frame_tag game do %>
    <%= game_status_full_message(game) %>

    <% board = game.to_game_object unless local_assigns.key?(:board) %>
    <div class= "p-2 mt-4 font-medium" >
      Mines left: <%= board.mines_left %>
    </div>

    <table class="board mx-auto mb-4">
      <% board.height.times do |y| %>
        <tr>
          <% board.width.times do |x| %>
            <% cell = board.cell(Minesweeper::Coordinate.new(x, y)) %>
            <% if cell && !(cell.is_a?(Minesweeper::Game::Marker)) %>
              <td><%= cell_to_character(cell) %></td>
            <% else %>
              <td class="cell-hidden">
                <% if game.play? %>
                  <%= link_to(cell.to_s, reveal_path(game, x, y), data: {controller: "cell", turbo_method: :post}) %>
                <% else %>
                  <%= cell.to_s %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
