<%= turbo_stream_from @game %>

<p class="text-left text-m max-w-4xl mx-auto my-1">
  Classic minesweeper as open multiplayer.
  There is only one game happening at the same time.
  Anyone can play it.
  If we collectively solve it that is one point for <b>Humanity</b>.
  If any one of us clicks on a mine, that is one point for <b>The Mines</b>.
  <% if @first_public %>
    We're now on the second round. The <b>first round</b> finished with a <b class="text-red-800">complete defeat of Humanity</b>. Read about it
    <%= link_to "here", @first_public, class: "text-indigo-600" %>.
  <% end %>
  The new round features a fair start: games start with a starting area revealed.
</p>
<p class="text-left text-sm max-w-4xl mx-auto my-1">
  Playing instructions: Click on a cell to reveal it, right click to mark it as holding a mine.
</p>

<% if @match %>
  <p class="text-center text-lg max-w-3xl mx-auto mt-4">
    Current result:
    <% cache "result-cache-on-game-id-#{@game.id}" do %>
      <span class="font-medium">Humanity <%= @match.wins %></span>
      :
      <span class="font-medium">Mines <%= @match.loses %></span>
    <% end %>

    (<%= link_to "view previous games", games_path, class: "text-indigo-400" %>)
  </p>

  <%= render @game %>
<% else %>
  <p class="text-center text-lg max-w-3xl mx-auto">
    No public match currently in progress
  </p>
<% end %>

