<!DOCTYPE html>
<html>
  <head>
    <title>Minesvshumanity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>
  </head>

  <body>
    <main class="container mx-auto mt-2 px-5 text-center font-sans">
      <%= yield %>
    </main>
  </body>
</html>
