<!DOCTYPE html>
<html>
  <head>
    <title>Minesvshumanity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>

    <script defer data-domain="minesvshumanity.com" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
    <main class="container mx-auto mt-2 px-5 text-center font-sans">
      <h1 class="font-bold text-4xl m-4">Mines vs Humanity</h1>

       <% if notice %>
         <div class="alert alert-success"><%= notice %></div>
       <% end %>
       <% if alert %>
         <div class="alert alert-danger"><%= alert %></div>
       <% end %>

      <%= yield %>
    </main>
  </body>
</html>
